.container {
  max-width: 600px;
}
.weatherApp {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
}
.form-row {
  margin-bottom: 15px;
  box-sizing: 40px;
  padding: 0;
}

.input-group-prepend {
  height: 38px;
}
.fa-map-marker-alt {
  font-size: 15px;
}
.btn-primary {
  border-radius: 7px;
  font-size: 15px;
}

.btn-success {
  border-radius: 7px;
  font-size: 15px;
  margin-left: 50px;
}

.emoji-search {
  width: 100px;
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: bottom;
}

.temperatureNow {
  margin: 0;
  padding: 0;
}

.temperature {
  font-size: 63px;
  font-weight: lighter;
}

.unites {
  position: relative;
  top: -35px;
  font-size: 13px;
}
.unites .active {
  color: black;
  cursor: default;
}
.unites .active:hover {
  text-decoration: none;
}
.temperature-row {
  margin-bottom: 80px;
}
ul {
  margin: 0;
  margin-left: 25px;
  padding: 0;
}
.temperatureNowInfoDate,
.temperatureNowInfoTime,
.temperatureNowInfoLocation {
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.8px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.25em;
  color: black;
}

.temperatureNowImage {
  display: inline;
  background: transparent;
  margin: 0 auto;
}
#icon {
}

#icon-forecast {
  max-width: 45px;
  display: block;
  margin: 0 auto;
}

h3 {
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.weather-forecast-temperature {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
h5 {
  text-align: center;
}

.additionalInformation-box {
  margin-top: 50px;
  text-align: left;
}

.additionalInformation {
  list-style: none;
  font-weight: lighter;
}

small {
  font-family: monospace;
  font-size: 11px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

.iceCold {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #625eb1 100%
  );
}

.colder {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.cold {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.neutral {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.warm {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

.hot {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.hotter {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
